.border{background-color: lightseagreen; text-align: center; }
nav{text-align: center; }
body{
    text-indent: 50px;
    padding-top: 0px;
    padding-bottom: 0px; 
    padding-right: 100px;
    padding-left: 100px;}
p{font-family: cursive; font-size: 14px}
main{background-color: lightseagreen;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto}
#principles{height: 250px;
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
footer p{font-size: 10px;}
html{background-color: darkolivegreen;}